.board {
    width: 540px;
    margin: auto;
    align-content: center;
}

.info {
    width: 540px;
    height: 100px;
    margin: auto;
    align-content: center;
    background-color: rgb(255, 255, 255);
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}